<title>RERF Contact</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://code.jquery.com/jquery-3.1.1.js">
 </script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href="/css/contact.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top container-fluid">
<div class="container">
<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CampBuzz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a href="home.html">Home</a></li>
       <li><a href="chat_login.html">Chat</a></li>
       <li><a href="RERF_image_gallery.html">Gallery</a></li>
       <li><a href="video.html">Videos</a></li>
        <li><a href="About.html">About Us<span class="sr-only">(current)</span></a></li>
        <li><a href="contact.html">Contact</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main_bg">
<div class="wrap">
<div class="wrapper">
<div class="main">
    <div class="section group">       
        <div class="col span_1_of_2">
          <div class="contact_info">
              <h2 class="style">RERF Location</h2>
                <div class="map">
 <iframe width="120%" height="400" style="border: 0;" src="https://www.google.com/maps/embed/v1/place?q=Regent+Education+%26+Research+Foundation,+India&amp;key=AIzaSyBb3EBafaeDEoMHkZzscg991gZ1TT-r5d4" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            <div class="company_address">
              <h2 class="style">RERF Address </h2>
            <p>Bara kanthalia,</p>
            <p> Sewli Telini Para, North 24 parganas, Barrackpore, Malir Math, Kolkata,</p>
            <p>West Bengal</p>
              <p>Phone:(033)  30085434</p>
              <p>Alternate Phone: (033) 30085433</p>
            <p>Email: <span>rerfkolkata@gmail.com</span></p>
              <p>Follow on: <span><a href="https://www.facebook.com/groups/rerfkolkata/">Facebook</a></span>
           </div>
           <div class="clear"></div>
        </div>        
<div class="container">
  <form method="post" action="contact/send">
    <h1 align="center"><strong>CONTACT</strong></h1>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" placeholder="Enter Name"/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="email" name="email" placeholder="Enter Email"/>
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control" name="message" placeholder="Enter Message..."></textarea>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
  </form>
</div>