 <link rel="stylesheet" type="text/css" href="/css/welcome_page.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<div class="container">
<h1>CampBuzz</h1>
		<h2>You're Welcome</h2>
    <form method="get" action="home.html">
		<center><button class="btn btn-primary btn-lg"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> START THE JOURNEY</button></center>
    </form>
    </div>